<h4>Hola a mi home</h4>
<div class="container">
    <h6>Lista de productos</h6>
    <table class="table table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <% productos.forEach(p => { %>
                <tr>
                    <td><%= p.nombre %></td>
                    <td><%= p.precio %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>